* {
  padding: 0;
  margin: 0;
  font-family: Rubik, Arial, Helvetica, sans-serif;
}
.header {
  width: 100%;
  height: 120px;
}

.header_1 {
  height: 40px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
.header_1 a {
  text-decoration: underline;
  color: #fff;
}
.header_2 {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0px 68px;
  padding: 0px 20px;
}
.header_nav {
  padding: 0px 21px;
  margin: 0px 20px;
}
.header_nav a {
  text-decoration: none;
  padding: 30px 15px;
  color: black;
}
.nav_icons a {
  padding: 13px 10px;
  color: black;
  text-decoration: none;
}
.f_slider {
  width: 100%;
  height: 400px;
  background-color: aqua;
}
.card2 {
  background-image: url(./assets/caed\ img\ bg2.jpg);
  background-repeat: no-repeat;
  width: 384px;
  height: 334px;
}

.card3 {
  background-image: url(./assets/card\ bg\ img\ 3.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  width: 384px;
  height: 334px;
}
.card4 {
  background-image: url(./assets/card\ bg\ img4.jpg);
  background-repeat: no-repeat;
  width: 384px;
  height: 334px;
}
.card5 {
  background-image: url(./assets/card\ bg\ img5.jpg);
  background-repeat: no-repeat;
  width: 384px;
  height: 334px;
}
.card6 {
  background-image: url(./assets/card\ bg\ \ img6.jpg);
  background-repeat: no-repeat;
  width: 384px;
  height: 334px;
}
.card_div {
  display: flex;
}
.card_div div {
  width: 384px;
  height: 334px;
}

.card_div img {
  width: 384px;
  height: 334px;
}
